table {
    border: 15px solid #92c83c;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
td {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #e2e0e0;
    font-size: 18px;
    font-weight: bold;
}
th {
    height: 50px;
    padding-bottom: 8px;
    background: #92c83c;
    font-size: 20px;
}
.prev_sign a, .next_sign a {
    color: white;
    text-decoration: none;
}
tr.week_name {
    font-size: 16px;
    font-weight: 400;
    color: red;
    width: 10px;
    background-color: #efe8e8;
}
.highlight {
    background-color: #92c83c;
    color: white;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
    margin-bottom: 1rem;
    /* height: 27px;
    padding-top: 13px;
    padding-bottom: 7px; */
}
.calender .days td {
    width: 80px;
    height: 80px;
}
.calender .hightlight {
    font-weight: 600;
}
.calender .days td:hover {
    background-color: #DEF;
}
.calender .filled {
    background-color: green;
    color: white;
}
.calender .empty {
    background-color: green;
    color: white;
}
.no-booking {
    background-color: orange;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px; /* Sesuaikan dengan tinggi td */
    text-decoration: none;
}
.with-booking {
    background-color: red;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 80px; /* Sesuaikan dengan tinggi td */
    text-decoration: none;
}